<section>
  <div class="cancel-icon">
    <mat-icon (click)="crossClick()" >close</mat-icon>
  </div>
  <div class="employee">
    <figure>
      <img src="../../../../../../../assets/images/profile_icon.jpg" class="emp-image">
    </figure>
    <div class="heading">
      <span class="emp-name">Bidadoo App Team</span>
      <span class="project">Bidadoo App Team - Squad Award</span>
    </div>
  </div>
  <span>
    <p class="message">Hello Team,

      Hope you are well and safe.

      Appinventiv is in a continuous phase of evolution. We are focused and aligned with the growth model of success. The organisation is delighted to have a harmonious team like yours wherein each individual did their best to achieve a grand success of the project as a team.

      It gratifies us to announce that we are awarding you with "THE SQUAD AWARD" a half-yearly recognition given for your team milestones achieved.

      We at Appinventiv Technologies expect that your team will continue to put in your best efforts towards the performance of your duties in the future and achieve more significant milestones with us.</p>
  </span>
  <!-- <span class="greet">
    <p class="greet-message">
      {{data.GREET}}
    </p>

  </span> -->
  <p class="team-name">Thank you for your contribution to Appinventiv Technologies.}</p>
  <p class="head-greet">Congratulations and keep the spirit high!</p>
  <footer>
    <p class="head-name">SUDEEP SRIVASTAVA</p>
  </footer>
</section>
