
<section>
  <div class="left">
    <div class="head">
      <h6>Punch log</h6>
    </div>
    <form [formGroup]="punchLogForm">
    <div class="input">
      <label>Date</label>
      <mat-form-field  appearance="outline">
        <input matInput placeholder="Date"  readonly  [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{punchLogForm | getControl:['date'] | validate:'date'}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <app-dropdown
          [label]="companyLabel"
          [myControlName]="punchLogForm.controls.Company"
          [Data]="data"
          [errorType]="punchLogForm.controls.Company"
        ></app-dropdown>
      </span>

    </div>
    <button class="getbutton">GET</button>
  </form>

  </div>
  <div class="right">
    <div class="head">
      <h6>Punch Log</h6>
    </div>
    <div class="table">
      <app-commontable [searchBar]="false" [columns]="heading" [isPageable]="false" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
    </div>
  </div>
</section>
