section {
  .parent{
    padding-top: 0px;
    .name{
      display: flex;
      align-items: center;
      .mat-icon{
        font-size: 22px;
      }
      .full-width{
        padding: 10px 0px 10px 5px;
        width: 180px;
        // padding-top: 20px;
      }
    }
  ::ng-deep{
    .mat-list-item-content{
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      padding: 0px 16px 10px 16px;
    }
  }
}

  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(-90deg);
  }
  .menu-button.rotated {
    transform: rotate(0deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 900ms ease;
    transform: scaleY(0);
    transform-origin: top;
    // padding-left: 20px;
    padding: 20px 10px;
    .subOptions{
      .subtitle{
        width: 150px;
        margin-left: 5px;
      }

    }

  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  .active{
    // color: rgb(67, 67, 225);
    color: #199CFF;
      background-color: transparent;
  }

}

.mat-list-item-content{
  &:disabled{
    background-color:red;
  }
}


