<section>
  <mat-list-item  [ngClass]="{'disable':!navlist.isActiv}" (click)="showSideNav(navlist)" class="parent" [routerLink]="navlist.routerLink"  [routerLinkActive]="navlist.routerLink?'active':''" >
    <div class="name">
      <ng-container  *ngIf="navlist.title==='Logout';else othertitle  ">
        <mat-icon>{{ navlist.logo }}</mat-icon>
        <span (click)="openDialog1()" class="full-width" *ngIf="isShowing">{{ navlist.title }}</span>
      </ng-container>
      <ng-template #othertitle>
        <mat-icon>{{ navlist.logo }}</mat-icon>
        <span class="full-width" *ngIf="isShowing">{{ navlist.title }}
        <mat-icon style="color: red; font-size: 18px; margin-left:10px;  ">{{navlist.starlogo}}</mat-icon>
        </span>
      </ng-template>
    </div>
    <mat-icon class="menu-button" [ngClass]="{ rotated: navlist.subMenuClick }" *ngIf="navlist.options">expand_more</mat-icon>

  </mat-list-item>
  <ng-container *ngIf="navlist.options">
    <div class="submenu" [ngClass]="{ expanded: navlist.subMenuClick}" *ngIf="navlist.subMenuClick && isShowing">
      <span *ngFor="let item of navlist.options">
        <ng-container *ngIf="item.routerLink;else anchor" >
      <mat-list-item class="subOptions" [routerLink]="item.routerLink" [routerLinkActive]="item.routerLink?'active':''" >
          <mat-icon>{{ item.subLogo }}</mat-icon>
          <span class="subtitle">{{ item.subTitle }}</span>
        </mat-list-item>
      </ng-container>
        <ng-template #anchor>
          <mat-list-item >
            <a style="display:flex ; justify-content:center; align-items:center;  " [href]="item.link" target="_blank" class="sublist-content anchorLink">
              <mat-icon class="sidenav-icon">{{item.subLogo}}</mat-icon>
              <span class="subtitle">{{item.subTitle}}</span>
            </a>
          </mat-list-item>
        </ng-template>
      </span>
    </div>
  </ng-container>

</section>
