.leftRs {
    position: absolute;
    top: -45px;
    bottom: 0;
    color: #199CFF;
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 42px;
    border: none;
    font-size: 18px;
}

.left {
    position: absolute;
    bottom: -36px;
    color: #199CFF;
    font-size: 18px;
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 300px;
    border: none;
}

.rightRs {
    position: absolute;
    top: -45px;
    font-size: 18px;
    color: #199CFF;
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 10px;
    border: none;
}

.right {
    position: absolute;
    font-size: 18px;
    bottom: -36px;
    color: #199CFF;
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 270px;
    border: none;
}

.myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
}

.myPoint li {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background: lightgray;
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}

.myPoint li.active {
    background: grey;
    transform: scale(1.2);
}

:host::ng-deep {

    .ngucarousel {
        position: initial !important;
    }
}