section
{
  width: 600px;
  padding: 10px;

  .head{
    padding: 20px 0px;
  border-bottom: 1px solid #393a3a;
  display: flex;
  justify-content: space-between;

    h5{
      font-size: 28px;
    font-weight: 500;
    color: #2f3031;
    }
  }
  .body{
    padding: 20px 20px 20px 0px;

    .example-full-width{
      width: 600px;
    }


  }
  .button-wrap{
    padding: 10px;
    button{
      min-width: 100px;
    background: #3246d3;
    color: #fff;
    border-radius: 4px;
    padding: 5px 0px;
    outline: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    font-size: 18px;
    font-weight: 600;
    border: none;
    }
    .add{
      margin-left: 10px;

    }
  }


}

::ng-deep{

  .mat-dialog-container{
    border-radius: 20px;
    padding: 0px !important;
  }
  // .cdk-overlay-dark-backdrop{
  //   background: rgba(0, 0, 0, 0.80);
  // }
}

// ::ng-deep{
//   .mat-form-field{
//     width: 600px;
//   }
// }
