<section>
  <div class="head">
    <h1>Current Job Openings</h1>

  </div>
  <div  class="card-main">
    <ng-container *ngFor="let item of card" >
    <mat-card class="job-detail-card">

      <div class="image">
        <figure>
        <img src="https://dashboard.appinventiv.com/uploads/award/blockchain.svg" class="showImage">
      </figure>
        <div class="address">
          <div class="location">
            <i class="fa-solid fa-location-dot" id="location-icon"></i>
            <p class="location-name">Noida, UttarPradesh</p>
          </div>
          <div class="date">
            <p>03/02/2023</p>
          </div>
        </div>
      </div>
      <div class="area">
        <h3>Graphic Designer - Designing Marketing</h3>
        <p>We are looking for Graphic Designers to create engaging.</p>
      </div>
      <div class="requirement">
        <p>No. of Openings</p>
        <p>Experience</p>
      </div>
      <div class="requirement1">
        <p>1</p>
        <p>5 to 9 Years'</p>
      </div>
      <div class="buttonGroup">
        <button class="button-view"  mat-raised-button>
          View Details'
        </button>
        <button class="button-refer"  mat-raised-button>
          Refer a Candidates
        </button>
      </div>
    </mat-card>
  </ng-container>
  </div>
</section>
