<section>
  <div class="head">
    <h1>Current Job Openings</h1>

  </div>
  <div  class="card-main">
    <ng-container *ngFor="let item of DATA" >
    <mat-card class="job-detail-card">

      <div class="image">
        <figure>
        <img [src]="item.IMAGE" class="showImage">
      </figure>
        <div class="address">
          <div class="location">
            <mat-icon id="location-icon" > location_on</mat-icon>
            <p class="location-name">{{item.LOCATION}}</p>
          </div>
          <div class="date">
            <p>{{item.DATE}}</p>
          </div>
        </div>
      </div>
      <div class="area">
        <h3>{{item.POSITION}}</h3>
        <p>{{item.DESCRIPITION}}</p>
      </div>
      <div class="requirement">
        <p>{{item.OPENINGS}}</p>
        <p>{{item.EXPRIENCE}}</p>
      </div>
      <div class="requirement1">
        <p>{{item.NO}}</p>
        <p>{{item.YEARS}}</p>
      </div>
      <div class="buttonGroup">
        <button (click)="view()" routerLink="'/ft'" class="button-view"  mat-raised-button>
         {{item.VIEW}}
        </button>
        <button (click)="openDialog()" class="button-refer"  mat-raised-button>
         {{item.REFER}}
        </button>
      </div>
    </mat-card>
  </ng-container>


  </div>
</section>

