<section>

  <div class="head">
    <h1>List All Candidate</h1>
  </div>
  <div class="content">
    <div class="inputs">
      <div class="input">
        <span>
          <app-dropdown [label]="departmentLabel" [Data]="departmentData"
          [myControlName]="this.interviewForm.controls.department"
          ></app-dropdown>
        </span>
      </div>
      <div class="input">
        <span>
          <app-dropdown [label]="statusLabel" [Data]="statusData"
          [myControlName]="this.interviewForm.controls.status"

          ></app-dropdown>
        </span>
      </div>

    </div>
    <div class="table">
      <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
    </div>
  </div>



</section>
