@import"../../../../../scss/var";
section{
  padding: 20px;
  .head{
    h1{
      font-size: 26px;
      color:$primay-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  .content{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    .inputs{
      display: flex;
      gap: 20px;
      .input1{
        display: flex;
        flex-direction: column;
        .form-field{
          min-width: 330px;
        }

      }
    }
  }
}
