@import"../../../../../scss/var";
// @import"../../mylinks/mylinks-parts/policy-document/policy-document.component.scss";
section{
  padding: 20px;
  .head{
    h1{
      font-size: 26px;
      color:$primay-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  .content{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    .inputs{
      display: flex;
      gap: 20px;
      padding-left: 12px;
      .input{
        width: 300px;
      }

    }
    // .table{
    //   ::ng-deep{
    //     .table{
    //       padding: 30px 0px;
    //       table{
    //         // border: none;
    //       }
    //       @media only screen and (max-width: 550px) {
    //         padding-left: 0px;
    //       }

    //     }
    //   }
    // }

  }
}

@media only screen and (max-width: 750px) {
  section{
    .content{
      .inputs{
        display: block;
      }
    }
  }

}






