<section>
  <div class="breadcrums"><strong>Home /</strong>
    job Openings / Details</div>
  <div class="main">
    <div class="head">
      <h3>
        Job Details</h3>
        <button>
          <img src="https://dashboard.appinventiv.com//skin/hrsale_assets/img/more.svg">
        </button>
    </div>
    <div class="summary">
      <div class="left">
        <div class="label-detail">
          <label>Job Title :</label>
          <p>Data Analyst</p>
        </div>
        <div class="label-detail">
          <label>Department :</label>
          <p>
            Business Analyst</p>
        </div>
        <div class="label-detail">
          <label>No. of Openings :</label>
          <p>
            2</p>
        </div>
        <div class="label-detail">
          <label>Exp. Required :</label>
          <p>
            3 to 5 Years
            <label>
              Referral bonus will be <strong>Rs. 2000</strong> for more information read
              <strong>Terms & Conditions</strong>
            </label>
          </p>
        </div>

      </div>
      <div class="right">
        <div class="label-detail">
          <label>Job Type :</label>
          <p>Permanent</p>
        </div>
        <div class="label-detail">
          <label>Location :</label>
          <p>
            Noida, Uttar Pradesh</p>
        </div>
      </div>
    </div>
    <div class="heading">
      <h3>
        Technical Skills</h3>
    </div>
    <div class="skills">
      <h1>Data Analyst</h1>
      <h1>Business Analyst
      </h1>
    </div>
    <div class="heading">
      <h3>
        Job Introduction</h3>
    </div>
    <div class="intro">
      <div class="content">
        <h3>Hiring Sr.Business & Data Analyst</h3>

      </div>

    </div>
    <div class="heading">
      <h3>
        Job Description
</h3>
    </div>
    <div class="descrption">
      <div class="content">
        <ol>
          <li>Proficient in Excel/Google Spread-Sheet.</li>
          <li>Proficient in SQL – should be able to write complex queries.</li>
          <li>Design and develop complex data queries to move and transform data from data sources.</li>
          <li>Perform analysis to assess the quality and meaning of data from numerous data sets and various data sources.</li>
          <li>Understanding of BI tools like Tableau or Qlikview or PowerBI etc.</li>
          <li>Perform analysis to assess the quality and meaning of data from numerous data sets and from various data sources.</li>
          <li>Interpret needs and design reports to meet expectations.</li>
        </ol>
      </div>
    </div>
    <div class="heading">
      <h3>
        Job Qualification</h3>
    </div>
    <div class="qualification">
      <div class="content">
        <ul>
          <li>Cleansing and preparing data</li>
          <li>Analyzing and exploring data</li>
          <li>Expertise in statistics</li>
          <li>Analyzing and visualizing data</li>
          <li>Reports and dashboards</li>
          <li>Communication and writing</li>
        </ul>
      </div>
    </div>


  </div>
</section>
