<section>
  <div class="first">
    <div class="button">
      <button (click)="add()" >+ Add New Assets Request</button>
    </div>
    <form [formGroup]="assetsRequest" >
    <div *ngIf="addbutton" >
    <div class="select">
      <div class="input">
        <span>
          <app-dropdown [label]="genderLabel" [Data]="genderData"
          [myControlName]="assetsRequest.controls.category"
          [errorType]="assetsRequest.controls.category"></app-dropdown>
        </span>
      </div>
      <div class="input">
        <span>
          <app-dropdown [label]="quanity" [Data]="genderData"
          [myControlName]="assetsRequest.controls.quanity"
          [errorType]="assetsRequest.controls.quanity"
          ></app-dropdown>
        </span>
      </div>
      <div class="input">
        <span>
          <app-dropdown [label]="Priority" [Data]="genderData"
          [myControlName]="assetsRequest.controls.priority"
          [errorType]="assetsRequest.controls.priority"
          ></app-dropdown>
        </span>
      </div>
      <div class="date">
        <label>Required by Date</label>
        <mat-form-field appearance="outline">
          <input placeholder="Required by date" formControlName="date" matInput [matDatepicker]="picker" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{assetsRequest | getControl:['date']| validate:'date'}}</mat-error>


        </mat-form-field>
      </div>
    </div>
    <div class="select2">
      <div class="input">
        <span>
          <app-dropdown [label]="allocation" [Data]="genderData"
          [myControlName]="assetsRequest.controls.type"
          [errorType]="assetsRequest.controls.type"

          ></app-dropdown>
        </span>
      </div>

    </div>
    <div class="request-reason" >
      <div class="date">
        <label>Request Reason*</label>
        <mat-form-field  appearance="outline">
          <input formControlName="requestreason" matInput class="example-full-width" >
          <mat-error>{{assetsRequest | getControl:['requestreason'] | validate:'requestreason'}}</mat-error>

        </mat-form-field>
      </div>

    </div>
    <div class="submitbutton">
    <button >Submit</button>
  </div>
  </div>
</form>

  </div>
  <div class="second">
    <section>
      <div class="head">
        <h1>List All Assets inventory
          </h1>
      </div>
      <div class="table">
        <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </section>
  </div>
</section>
