<section>
  <div class="heading">
    <h3 class="header">Appinventiv Gallery</h3>
  </div>
  <app-courosel [listToShow]="dataSource" [buttonShow]="buttonShow" [mypoint]="true" [carouselConfiguration]="carouselConfig" ></app-courosel>
  <ng-container *ngFor="let item of imageData">
    <ng-template #listofDivs>
    <figure>
      <img [src]="item.IMAGE" alt="RepublicDayIamge" class="imageResize">
    </figure>
    <div class="gallery-info">
    <span class="img-count">
     <p class="count"><mat-icon style="color: white;">photo_library</mat-icon>{{item.NUM}}</p>
    </span>
    <div class="event">
      <h3 class="event-text">{{item.HEADING}}</h3>
      <button (click)="openDialog(item.SUBIMAGE)" class="view">{{item.BUTTON}}</button>
    </div>
  </div>
    </ng-template>
  </ng-container>
</section>
