<!--
<mat-nav-list>
  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">

    <span class="full-width" *ngIf="isExpanded || isShowing">
      Home
    </span>
    <mat-icon mat-list-icon>home</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>
  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">My profile</span>
    <mat-icon mat-list-icon>person</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>
  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing"> Directory </span>
    <mat-icon mat-list-icon>library_books </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Entrepreneurship Program</span>
    <mat-icon mat-list-icon>money</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">My Links</span>
    <mat-icon mat-list-icon>home</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Finance</span>
    <mat-icon mat-list-icon> money </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Reviews</span>
    <mat-icon mat-list-icon> reviews </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing"> Refer a friend</span>
    <mat-icon mat-list-icon> group </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Fresher Training</span>
    <mat-icon mat-list-icon> school </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing"> Training</span>
    <mat-icon mat-list-icon> school </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>



  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Assets Inventory</span>
    <mat-icon mat-list-icon> science </mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">chevron_right </mat-icon>

  </mat-list-item>

</mat-nav-list>



 -->

 <section>
  <mat-nav-list class="mat_side_list">
    <ng-container *ngFor="let navlist of sidenav">
      <app-listing [isShowing]="isShowing" [navlist]="navlist"></app-listing>
    </ng-container>
  </mat-nav-list>
 </section>
