<section [@slideinOut]>
  <div class="main">
    <div class="heading">
      <h5>Basic Information</h5>
    </div>
    <form [formGroup]="basicinfoForm"  (ngSubmit)="submit()">
      <div class="content">
        <div class="row">
          <div class="input">
            <label>First Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput placeholder="First Name" formControlName="firstName" />

                <mat-error>{{basicinfoForm | getControl:['firstName']| validate:'firstName'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <label>Last Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
              <!-- <mat-error *ngIf="formCtrl.lastName.hasError('required')">
                Please enter a last name
              </mat-error>
              <mat-error *ngIf="formCtrl.lastName.hasError('pattern')">
                Invalid Lastname</mat-error> -->
                <mat-error>{{basicinfoForm | getControl:['lastName']| validate:'lastName'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <label>Date Of Birth</label>
            <mat-form-field appearance="outline">
                <input readonly="" matInput placeholder="Date of Birth" [min]="minDate" (click)="picker.open()"  [max]="maxDate"  [matDatepicker]="picker" formControlName="dateofBirth">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-error *ngIf="formCtrl.dateofBirth.hasError('required')">
                Please Enter a date</mat-error> -->
                <mat-error>{{basicinfoForm | getControl:['dateofBirth']| validate:'dateofBirth'}}</mat-error>

            </mat-form-field>
          </div>
        <!-- </div>
        <div class="row"> -->
          <div class="input">
            <span>
              <app-dropdown
                [label]="genderLabel"
                [myControlName]="basicinfoForm.controls.gender"
                [Data]="genderData"
                [errorType]="basicinfoForm.controls.gender"
              ></app-dropdown>
            </span>
          </div>
          <div class="input">
            <span>
              <app-dropdown
                [label]="martialLabel"
                [myControlName]="basicinfoForm.controls.martialStatus"
                [Data]="matrialData"
                [errorType]="basicinfoForm.controls.martialStatus"
              ></app-dropdown>
            </span>
          </div>

          <div class="input">
            <label>Contact Number</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput  placeholder="Contact Number" formControlName="contactNumber" />
              <mat-error>{{basicinfoForm | getControl:['contactNumber']| validate:'contactNumber'}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div style="position: relative" class="row1">
          <div style="position: absolute; top:-8px; left:20px">
            <label>Total working Experience</label>
          </div>
          <div class="row1">
            <div class="input">
              <label> Years</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Years" formControlName="years" />
                <!-- <mat-error *ngIf="formCtrl.years.hasError('required')">{{
                  errorMsg.YEARS_REQUIRED
                }}</mat-error>
                <mat-error *ngIf="formCtrl.years.hasError('pattern')">
                  Enter a valid input
                </mat-error> -->
                <mat-error>{{basicinfoForm | getControl:['years']| validate:'years'}}</mat-error>

              </mat-form-field>
            </div>
            <div class="input">
              <label>Months</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Months" formControlName="months" />
                <mat-error>{{basicinfoForm | getControl:['months']| validate:'months'}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div style="position: relative" class="row1">
            <div style="position: absolute; top:-18px; left:18px" >
              <label>Revalent Exprience</label>
            </div>
            <div class="input">
              <label>Years</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Years" formControlName="years2" />
                <mat-error>{{basicinfoForm | getControl:['years2']| validate:'years2'}}</mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <label>Months</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Months" formControlName="months2" />
                <mat-error>{{basicinfoForm | getControl:['months2']| validate:'months2'}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="inputs4">
          <div class="input">
            <label>Address</label>
            <mat-form-field class="text" appearance="outline">
              <textarea
              formControlName="descripition"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="5"
                placeholder="Descripition"
                (keydown)="noSpace($event)"
              ></textarea>
              <mat-error>{{basicinfoForm | getControl:['descripition']| validate:'descripition'}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="group">
          <button type="submit">SAVE</button>
        </div>
      </div>
    </form>
  </div>
</section>
