<section [@slideinOut]>
  <div class="main">
    <div class="heading">
      <h5>Basic Information</h5>
    </div>
    <form [formGroup]="basicinfoForm">
      <div class="content">
        <div class="row">
          <div class="input">
            <label>First Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput placeholder="First Name" formControlName="firstName" />
              <mat-error *ngIf="formCtrl.firstName.hasError('required')">{{
                errorMsg.FIRSTNAME_REQUIRED
              }}</mat-error>
              <mat-error *ngIf="formCtrl.firstName.hasError('pattern')">
                Invalid FirstName</mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <label>Last Name</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
              <mat-error *ngIf="formCtrl.lastName.hasError('required')">
                Please enter a last name
              </mat-error>
              <mat-error *ngIf="formCtrl.lastName.hasError('pattern')">
                Invalid Lastname</mat-error>
            </mat-form-field>
          </div>
          <div class="input">
            <label>Date Of Birth</label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Date of Birth" [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" formControlName="dateofBirth">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="formCtrl.dateofBirth.hasError('required')">
                Please Enter a date</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="input">
            <span>
              <app-dropdown
                [label]="genderLabel"
                [myControlName]="basicinfoForm.controls.gender"
                [Data]="genderData"
                [errorType]="basicinfoForm.controls.gender"
              ></app-dropdown>
            </span>
          </div>
          <div class="input">
            <span>
              <app-dropdown
                [label]="martialLabel"
                [myControlName]="basicinfoForm.controls.martialStatus"
                [Data]="matrialData"
                [errorType]="basicinfoForm.controls.martialStatus"
              ></app-dropdown>
            </span>
          </div>

          <div class="input">
            <label>Contact Number</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text" matInput  placeholder="Contact Number" formControlName="contactNumber" />
              <mat-error *ngIf="formCtrl.contactNumber.hasError('required')">
                Please Enter a Contact Number</mat-error>
                <mat-error *ngIf="formCtrl.contactNumber.hasError('pattern')">
                  Invalid Contact Number</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div style="position: relative" class="row1">
          <div style="position: absolute; top:-8px; left:14px">
            <label>Total working Experience</label>
          </div>
          <div class="row1">
            <div class="input">
              <label> Years</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Years" formControlName="years" />
                <mat-error *ngIf="formCtrl.years.hasError('required')">{{
                  errorMsg.YEARS_REQUIRED
                }}</mat-error>
                <mat-error *ngIf="formCtrl.years.hasError('pattern')">
                  Enter a valid input
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <label>Months</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Months" formControlName="months" />
                <mat-error *ngIf="formCtrl.months.hasError('required')">{{
                  errorMsg.MONTHS_REQUIRED
                }}</mat-error>
                <mat-error *ngIf="formCtrl.months.hasError('pattern')">
                  Enter a valid input
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div style="position: relative" class="row1">
            <div style="position: absolute; top:-18px; left:14px" >
              <label>Revalent Exprience</label>
            </div>
            <div class="input">
              <label>Years</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Years" formControlName="years2" />
                <mat-error *ngIf="formCtrl.years2.hasError('required')">{{
                  errorMsg.YEARS_REQUIRED
                }}</mat-error>
                <mat-error *ngIf="formCtrl.years2.hasError('pattern')">
                  Enter a valid input
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <label>Months</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput  placeholder="Months" formControlName="months2" />
                <mat-error *ngIf="formCtrl.months2.hasError('required')">{{
                  errorMsg.MONTHS_REQUIRED
                }}</mat-error>
                <mat-error *ngIf="formCtrl.months2.hasError('pattern')">
                  Enter a valid input
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="inputs4">
          <div class="input">
            <label>Description</label>
            <mat-form-field class="text" appearance="outline">
              <textarea
              formControlName="descripition"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="5"
                placeholder="Descripition"
              ></textarea>
              <mat-error *ngIf="formCtrl.descripition.hasError('required')" >Please Enter a Descripition </mat-error>
          <mat-error *ngIf="formCtrl.descripition.hasError('pattern')" >Enter a Valid Descripition </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="group">
          <button>SAVE</button>
        </div>
      </div>
    </form>
  </div>
</section>
