<section>
  <main>
    <div class="plan">
      <h6>Planned Deliveries</h6>
      <div class="table">
        <app-commontable [searchBar]="false" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </div>
    <div class="team-detail">
      <h6>Team Detail (Team Size 13)</h6>
      <div class="table">
        <app-commontable [searchBar]="false" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </div>

    <div>
      <app-common-documents></app-common-documents>
    </div>

    </main>
</section>
