<div [@slideinOut] class="main">

  <div class="heading">
    <h6>Add New Qualification</h6>
  </div>
  <form [formGroup]="qualificationForm" (ngSubmit)="submitHandler()"  >
  <div class="input-field">
    <div class="inputs1">
      <div class="input">
        <label> School/University</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input placeholder="School/University" type="text" matInput formControlName="university">
          <mat-error>{{qualificationForm | getControl:['university'] | validate:'university'}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <span>
          <app-dropdown
          [label]="labelEducation"
          [myControlName]="qualificationForm.controls.educationLevel"
          [Data]="levelData"
          [errorType]="qualificationForm.controls.educationLevel"
            >
          </app-dropdown>
        </span>
      </div>
    </div>
    <div class="inputs2">

      <div class="input">
        <label>Time Period</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="From" [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" formControlName="startdate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{qualificationForm | getControl:['startdate'] | validate:'startdate'}}</mat-error>
        </mat-form-field>
      </div>
      <div class="to_date">
        <mat-form-field appearance="outline">
          <input matInput placeholder="To"  [matDatepicker]="picker1" formControlName="enddate">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>{{qualificationForm | getControl:['enddate'] | validate:'enddate'}}</mat-error>

        </mat-form-field>
      </div>

    </div>
    <div class="inputs3">
      <div class="input">

        <span>
          <app-dropdown
          [label]="labelLanguage"
          [myControlName]="qualificationForm.controls.language"
          [Data]="languageDropdown"
          [errorType]="qualificationForm.controls.language"

            >
          </app-dropdown>
        </span>
      </div>
      <div class="input">
        <label>Professional course</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input type="text" placeholder="Professional Course" matInput formControlName="professionalCourse">
          <mat-error>{{qualificationForm | getControl:['professionalCourse'] | validate:'professionalCourse'}}</mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="inputs4">
      <div class="input">
        <label>Description</label>
        <mat-form-field class="text" appearance="outline">
          <textarea  placeholder="Description" formControlName="descripition" matInput cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="5"></textarea>
          <mat-error>{{qualificationForm | getControl:['descripition'] | validate:'descripition'}}</mat-error>

        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="group">
    <button type="submit" >SAVE</button>
  </div>
</form>
</div>

<div  [@slideinOut] class="list">
  <div class="heading">
    <h6>List of qualification</h6>
  </div>
  <div class="table">
    <app-commontable [searchBar]="true" (edit_button)="edit_data($event)" (delete_button)="delete_data($event)" [columns]="heading" [dataSource]="dataSource"></app-commontable>
  </div>

</div>
