<div [@slideinOut] class="main">

  <div class="heading">
    <h6>Add New Qualification</h6>
  </div>
  <form [formGroup]="qualificationForm">
  <div class="input-field">
    <div class="inputs1">
      <div class="input">
        <label> School/University</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input type="text" matInput formControlName="university">
          <mat-error *ngIf="formCtrl.university.hasError('required')" >{{errorMsg.UNIVERSITY_REQUIRED}}</mat-error>
          <mat-error *ngIf="formCtrl.university.hasError('pattern')" >Enter a valid University Name</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Education Level</label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="educationLevel">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
          <mat-error *ngIf="formCtrl.educationLevel.hasError('required')" >{{errorMsg.EDUCATION_LEVEL}}</mat-error>


        </mat-form-field>
      </div>
    </div>
    <div class="inputs2">

      <div class="input">
        <label>Time Period</label>
        <mat-form-field appearance="outline">
          <input matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" formControlName="startdate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formCtrl.startdate.hasError('required')">
            Please Enter a date</mat-error>
        </mat-form-field>
      </div>
      <div class="to_date">
        <mat-form-field appearance="outline">
          <input matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker1" formControlName="enddate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="formCtrl.enddate.hasError('required')">
            Please Enter a date</mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="inputs3">
      <div class="input">

        <span>
          <app-dropdown
          [label]="labelLanguage"
          [myControlName]="qualificationForm.controls.language"
          [Data]="languageDropdown"
          [errorType]="qualificationForm.controls.language"

            >
          </app-dropdown>
        </span>
      </div>
      <div class="input">
        <label>Professional course </label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input type="text" matInput formControlName="professionalCourse">
          <mat-error *ngIf="formCtrl.professionalCourse.hasError('required')" >{{errorMsg.PROFESSIONAL_REQUIRED}}</mat-error>
          <mat-error *ngIf="formCtrl.professionalCourse.hasError('pattern')" >Enter a valid course name</mat-error>

        </mat-form-field>

      </div>
    </div>
    <div class="inputs4">
      <div class="input">
        <label>Description</label>
        <mat-form-field class="text" appearance="outline">
          <textarea formControlName="descripition" matInput cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="5"></textarea>
          <mat-error *ngIf="formCtrl.descripition.hasError('required')" >{{errorMsg.DESCRIPITION_REQUIRED}}</mat-error>
          <mat-error *ngIf="formCtrl.descripition.hasError('pattern')" >Enter a Valid Descripition </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="group">
    <button>SAVE</button>
  </div>
</form>


</div>

<div class="list">
  <div class="heading">
    <h6>List of qualification</h6>
  </div>
  <div class="table">
    <app-commontable [columns]="heading" [dataSource]="dataSource"></app-commontable>

  </div>

</div>
