<!-- <section>
  <div class="breadcrumbs">
    <p><span style="color:  #0095ff;">HOME /</span> My Trainings / Details</p>
  </div>
  <div class="heading">
    <h1>{{trainingDetailData.TRAININGNAME}}</h1>
  </div>
</section> -->

<section>
  <p><span style="color:#0095ff;">HOME /</span>  My Trainings / Details</p>
  <div class="header">
      <h3 class="heading">
        {{trainingDetailData.TRAININGNAME}}
      </h3>
  </div>
  <div class="main">
      <div class="main_header">
          <div class="tabs">
              <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                  <mat-tab label="Training Details">nikhil </mat-tab>
                  <mat-tab label="Sub-Topics"> nikhil </mat-tab>
                  <mat-tab label="Attendance"> nikhil </mat-tab>
              </mat-tab-group>
              <div class="action">
                  <button class="btn_cancel" mat-raised-button>Completed</button>
              </div>
          </div>
      </div>
  </div>
</section>

