* {
  box-sizing: border-box;
}


  .login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    .mat-card{
      padding: 0px ;

    }


    .example-card {
      min-width: 300px;
      min-height: 410px;
      display: grid;
      grid-template-rows: 15% 60% 25%;

      .header{
        display: flex;
        justify-content: center;
        padding: 20px;
        .header-image{
          img{
            width: 216px;
          }

        }

      }

      .content{

        .reset{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 35px;
          .reset1{
            color: rgb(187, 184, 184);
            font-size: 15px;
          }
          .link_reset{
            border-top: 1px solid rgb(223, 219, 219);
            padding-top: 15px;
            font-size: 12px;

          }
        }
        .reset_input{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px 38px;

          button{
            background-color: transparent;
            border: 1px solid  #26B4FF ;
            color: #26B4FF;
            padding: 5px;
          }
          button:hover{
            background-color: #26B4FF ;
            color: white;
          }

        }


      }



      .logincredential{
        display: flex;
        justify-content: center;
        align-items: center;

        .buttonlogin{
          padding-top: 25px;
        button{
          background-color:transparent;
          color: #26B4FF;
          border: 1px solid #26B4FF;
          padding: 8px ;
          font-size: 12px;
          width: 298px;
          transition: 10s;

        }

        button:hover{
          background-color: #26B4FF;
          color: white;

        }
        .slogan{
          text-align: center;
          border-top: 1px solid rgb(231, 227, 227);
          margin-top: 10px;
          padding-top: 20px 5px;
          color: grey;
          font-size: 12px;
        }
      }
      }

    }

  }


