<section>
  <div class="login-card">
    <mat-card class="example-card">
      <div class="header">
        <div  class="header-image">
          <img  src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/applogo.png" alt="hrsale logo">
        </div>
      </div>
      <div *ngIf="show" class="content">

        <div class="reset" >
          <p class="reset1">Reset Your Password </p>

          <p class="link_reset">We will send you a link to reset a password</p>
        </div>

        <div class="reset_input">
          <mat-form-field >
            <!-- <mat-label>Email</mat-label> -->
            <input type="email" matInput
                   placeholder="Enter your Email">
          </mat-form-field>
          <button>Recover Password</button>
        </div>



      </div>

      <div class="logincredential">
        <div class="buttonlogin">
        <button *ngIf="show" (click)="showcontent()" [routerLink]="'ABS_ACCOUNT_LOGIN' | absoluteRouting  " >LOGIN WITH CREDENTIAL</button>
        <p class="slogan">2023 @ Appinventiv HR system</p>
      </div>
      </div>
    </mat-card>
  </div>
</section>
