section{
  padding: 10px 20px 10px 20px;
  .user-detail{
    display: none;
    background-color: white;
    padding: 20px;
    display: flex;
    img{
      width: 120px;
      border-radius: 50%;
    }
    .details{
      padding-left: 20px;
    }
  }

  content{
    display: grid;
    grid-template-columns: 20% 80%;


  .wrap-tag{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 15px 0px ;
    height: 280px;
    border-radius: 5px;

    .tags1{
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 12px;
      color: grey;
      .mat-icon{
        padding-right: 8px;
      }

    }

    .tags{
      display: flex;
      align-items: center;
      border-top: 1px solid rgb(235, 234, 234) ;
      font-size: 12px;
      padding: 10px;
      color: grey;
      .mat-icon{
        padding-right: 8px;
      }
    }

    .active{
      background-color:#26B4FF;
      color: white;
      border-color: #26B4FF;
    }




  }

  .form{
    margin: 15px 0px 0px 25px;
    background-color: white;
    p{
      color: blue;
      font-weight: 500;
    }

  }

  // .main-content{

  // }


}
}


// ::ng-deep .mat-tab-labels{
//   display: block !important;
//   padding: 0px;
// }

// ::ng-deep .mat-tab-label{
//   width: 100%;

// }
// ::ng-deep .mat-tab-group{
//   flex-direction: row !important;
// }
// ::ng-deep .mat-tab-header{
//   width: 26% !important;
// }
// ::ng-deep .mat-tab-body-wrapper{
//   width: 70% !important;
// }


