<section>
  <main>
  <div class="first">
    <div class="button">
      <button (click)="toogle()" > +Add new assets declaration</button>
    </div>
    <form [formGroup]="declareForm" (ngSubmit)="submit()" >
    <div  >
    <div class="select">
      <div class="input">
        <label>Employee IdAI1612</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="employeeId" class="example-full-width" >
          <mat-error *ngIf="formCtrl.employeeId.hasError('required')">
            Please enter a employeeId
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Unique Asset Code</label>
        <mat-form-field  appearance="outline">
          <input (keydown)="noSpace($event)" matInput formControlName="code" class="example-full-width" >
         <mat-error>{{declareForm | getControl:['code'] | validate:'code' }}</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Serial Number <mat-icon (click)="openDialog1()" >help</mat-icon> </label>
        <mat-form-field  appearance="outline">
          <input (keydown)="noSpace($event)" matInput formControlName="serialNo" class="example-full-width" >
          <mat-error>{{declareForm | getControl:['serialNo'] | validate:'serialNo'}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Model Number <mat-icon>help</mat-icon> </label>
        <mat-form-field (keydown)="noSpace($event)" appearance="outline">
          <input matInput formControlName="modelNo" class="example-full-width" >
          <mat-error>{{declareForm | getControl:['modelNo'] | validate:'modelNo' }}</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <span>
          <app-dropdown [label]="os" [Data]="osData"
          [myControlName]="declareForm.controls.os"
          [errorType]="declareForm.controls.os"
          ></app-dropdown>
        </span>
      </div>
      <div class="input">
        <label>OS version</label>
        <mat-form-field  appearance="outline">
          <input (keydown)="noSpace($event)" matInput formControlName="osVersion" class="example-full-width" >
          <mat-error>{{declareForm | getControl:['osVersion'] | validate:'osVersion' }}</mat-error>

        </mat-form-field>
      </div>
      <div class="input">
        <label>Brand</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="brand" class="example-full-width" >
          <mat-error>{{declareForm | getControl:['brand'] | validate:'brand' }}</mat-error>

        </mat-form-field>
      </div>
      <div class="input">
        <label>Color</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="color" class="example-full-width" >
          <mat-error>{{declareForm | getControl:['color'] | validate:'color' }}</mat-error>

        </mat-form-field>
      </div>
    </div>
    <div class="select2">
      <div class="input">
        <span>
          <app-dropdown [label]="allocation" [Data]="conditionData"
          [myControlName]="declareForm.controls.status"
          [errorType]="declareForm.controls.status"
          ></app-dropdown>
        </span>
      </div>

    </div>
    <div class="request-reason" >
      <label>Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF)<span> Upload front and backside image*</span></label>
      <mat-form-field class="image" appearance="outline">
        <input readonly formControlName="Image" matInput>
       <input formControlName="Image"  type="file">
       <mat-error>{{declareForm | getControl:['Image'] | validate:'Image' }}</mat-error>


      </mat-form-field>
      <!-- <div class="fileinput">
          <input type="file">
      </div> -->
    </div>
    <div class="submitbutton">
      <button type="submit" >Submit</button>
    </div>
  </div>
</form>

  </div>
  <div class="second">
    <section>
      <div class="head">
        <h1>List All Declaration Assets
          </h1>
      </div>
      <div class="table">
        <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </section>
  </div>
</main>
</section>
