<section>
  <main>
  <div class="first">
    <div class="button">
      <button (click)="add()" > +Add new assets declaration</button>
    </div>
    <form [formGroup]="declareForm">
    <div *ngIf="addbutton" >
    <div class="select">
      <div class="input">
        <label>Employee IdAI1612</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="employeeId" class="example-full-width" >
          <mat-error *ngIf="formCtrl.employeeId.hasError('required')">
            Please enter a employeeId
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Unique Asset Code</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="code" class="example-full-width" >
          <mat-error *ngIf="formCtrl.code.hasError('required')">
            Please enter a Assets code
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Serial Number </label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="serialNo" class="example-full-width" >
          <mat-error *ngIf="formCtrl.serialNo.hasError('required')">
            Please enter a serialNo
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Model Number</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="modelNo" class="example-full-width" >
          <mat-error *ngIf="formCtrl.modelNo.hasError('required')">
            Please enter a assets model
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <span>
          <app-dropdown [label]="os" [Data]="genderData"
          [myControlName]="declareForm.controls.os"
          [errorType]="declareForm.controls.os"
          ></app-dropdown>
        </span>
      </div>
      <div class="input">
        <label>OS version</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="osVersion" class="example-full-width" >
          <mat-error *ngIf="formCtrl.osVersion.hasError('required')">
            Please enter a Os version
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Brand</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="brand" class="example-full-width" >
          <mat-error *ngIf="formCtrl.brand.hasError('required')">
            Please enter a brand name
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Color</label>
        <mat-form-field  appearance="outline">
          <input matInput formControlName="color" class="example-full-width" >
          <mat-error *ngIf="formCtrl.color.hasError('required')">
            Please enter a color
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="select2">
      <div class="input">
        <span>
          <app-dropdown [label]="allocation" [Data]="genderData"
          [myControlName]="declareForm.controls.status"
          [errorType]="declareForm.controls.status"
          ></app-dropdown>
        </span>
      </div>

    </div>
    <div class="request-reason" >
      <label>Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF)<span> Upload front and backside image*</span></label>
      <div class="fileinput">
          <input type="file">
      </div>
    </div>
    <div class="submitbutton">
      <button >Submit</button>
    </div>
  </div>
</form>

  </div>
  <div class="second">
    <section>
      <div class="head">
        <h1>List All Declaration Assets
          </h1>
      </div>
      <div class="table">
        <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </section>
  </div>
</main>
</section>
