<!-- <section>
  <div class="content">
    <p>New Family Members</p>
    <div class="card">
      <div class="image">
        <img src="../../../../../assets/images/profile_icon.jpg">
        <h3>User Name</h3>
        <p>Designation</p>
      </div>

    </div>
  </div>
</section> -->





<div class="new_member_card">
  <p>New Family Members</p>

  <app-courosel [buttonShow]="true" [carouselConfiguration]="carouselConfig" [listToShow]="dataSource"></app-courosel>

  <ng-container *ngFor="let member of listOfNewFamilyMembers">
      <ng-template #listofDivs>
        <div class="item">
          <figure>
              <img src="../../../../../assets/images/profile_icon.jpg" alt="new_member">
              <h3>New Member</h3>
              <p>Designition of Member</p>
          </figure>
      </div>
      </ng-template>
  </ng-container>






</div>
