// section {



//   .content {
//     background-color: white;
//     height: 450px;

//     p{
//       font-size: 18px;
//       font-weight: 500;
//       margin-bottom: 0px;
//       padding-bottom: 15px;
//     }
//     .card {
//       background-image: url(../../../../../assets/images/new-family-card.png);
//      width: 295px;
//      height: 380px;
//      position: absolute;
//      display: block;
//      margin: 0px 0px 20px 20px;

//      .image{
//       position: absolute;
//       top: 27%;
//       left: 30%;
//       h3{
//         text-align: center;
//       }
//       p{
//         text-align: center;
//       }
//      }


//     }
//   }
// }

.new_member_card {
  // padding: 1.5rem 1.5rem 2rem -0.5rem;
  // padding: 1px 0px 5px 0px;
  background-color: white;
  margin: 0px 15px;
  padding: 10px 20px;

  p{

    font-size: 18px;
    font-weight: 500;

  }

  .item {
      height: 387px;
      width: 270px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto 10px auto;
      background-image: url("https://dashboard.appinventiv.com/skin/hrsale_assets/img/new-family-card.png");

      figure {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          img {
              width: 120px;
              height: 120px;
              border-radius: 50%;
          }
      }
  }
}

