@import"../../../../../scss/var";

.new_member_card {
  // padding: 1.5rem 1.5rem 2rem -0.5rem;
  // padding: 1px 0px 5px 0px;
  background-color: $white;
  margin: 0px 15px;
  padding: 0px 20px;

  .heading{
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 500;

  }

  .item {
      height: 385px;
      width: 270px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px auto 10px auto;
      background-image: url("https://dashboard.appinventiv.com/skin/hrsale_assets/img/new-family-card.png");

      figure {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          img {
              width: 120px;
              height: 120px;
              border-radius: 50%;
          }
      }
      p{
        font-size: 18px;
      }
  }
}



  @media (max-width:400px){
    .new_member_card{
      .heading{
        width: 150px;
      }
    }

  }

  @media (max-width:1500px) and (min-width:1300px) {
    .new_member_card{
      .heading{
        width: 180px;
      }
    }

  }




