section{
  margin: 20px;
  background-color: white;
  .heading {
    padding: 16px 16px 0px 16px;
    border-bottom: 1px solid gainsboro;
    .header {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .main{
    // display: grid;
    // grid-template-columns: 30% 30% 30% 30%;
    // padding: 20px;

  }


}
