

.legend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:16px;
    p{
        margin-bottom: 0px;
    }
    span{
        font-size: 1.1rem;
        padding-right: 5px;
        margin-right: 5px;
    }
    .coupon-purchased{
        color:#a4ffcc;
        background-color: #a4ffcc;
    }

    .coupon-available{
        background-color: #bdc8fa;
        color:#bdc8fa;
    }
    .locked{
        color:#bfbfbf;
        background-color: #bfbfbf;
    }
    .holiday{
        color:#ff989e;
        background-color: #ff989e;
    }

}
