.card-body{
  margin: 80px 50px 50px 50px;
  background-color: white;
  padding: 90px;
  text-align: center;
  h1{
    // font-family: Lato;
    // font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #606167;
  }
  button{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(150, 165, 184, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px;
    margin: 20px 0px;
  }
}
