section{
  padding: 20px;
  .head{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    // width: 300px;
    h6{
      color: #6b8090;
      font-size: 20px;
    }
    mat-icon{
      margin: 0px 20px 20px 20px;
    }

  }
  .button-wrap{
    padding: 20px;
    button{
      margin: 0px 10px;
      font-size: 18px;
      border: 1px solid black;
      border-radius: 0px;
      background-color: transparent;
    }
  }
}

::ng-deep{
  .mat-dialog-container{
    padding: 0px !important;
    border-radius: 20px;
  }
}
