<section>
  <div class="note-card">
    <div class="head">
      <h1>Project Note</h1>
      <button class="add-button">+</button>
    </div>
    <div class="project-note">
      <div class="link">
        <a>Project Plan</a>
        <span>Time: 13, Dec 2020 09:10 AM
        </span>
      </div>
      <div class="download-wrap">
        <p>Download:
          <a download="" href="https://dashboard.appinventiv.com/uploads/project/documents/Notes_1607830810.xlsx" target="_blank">
            <img style="width:20px" src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/download.svg">
          </a>
        </p>
      </div>
    </div>
    <div class="project-note">
      <div class="link">
        <a>SRS</a>
        <span>Time: 21, May 2021 01:09 PM
        </span>
      </div>
      <div class="download-wrap">
        <p>Download:
          <a download="" href="https://dashboard.appinventiv.com/uploads/project/documents/Notes_1621582785.pdf" target="_blank">
            <img style="width:20px" src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/download.svg">
          </a>
        </p>
      </div>
    </div>

  </div>


  <div><app-common-documents></app-common-documents></div>

</section>


