@import"../../../../../../scss/var";

section {
  padding: 20px;

  .head {
    h1 {
      font-size: 24px;
      color: $primay-blue;
      font-weight: 500;
      // line-height: 1.2;
      margin-bottom: 0;
    }
  }
  .card-main{
    display: flex;
    // grid-template-columns: auto auto;

  .job-detail-card {
    margin: 20px;
    border: 1px solid $grainsboro;
    background-color: white;
    padding: 25px;

    // max-width: 600px;
    display: grid;


    .image {
      min-height: 180px;
      border-radius: 10px;
      background-color: #F3F7FC;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;


    }

    .area {
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;

      h3 {
        // font-weight: 500;
        // margin-bottom: 0px;
        // font-family: "Lato";
        font-size: 20px;
        color: #231E1E;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 5px;
      }

      p {
        font-size: 12px;
        background-color: #02BC77;
        color: #fff;
        padding: 0px 7px;

      }
    }

    .requirement {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $grainsboro;
      padding-top: 10px;
      font-size: 12px;
      text-align: center;
      // color: white
    }

    .requirement1 {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $grainsboro;

      h4 {
        font-size: 16px;
        color: #000000;
        font-weight: 500;
        line-height: 1.2;
      }


    }

    .buttonGroup {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding-top: 8px;

      .button-view {
        padding: 10px;
        width: 220px;
        font-size: 14px;
        // background-color: $white;
        color: #0095ff;
        border: 1px solid lightgrey;
        background: rgba(24, 28, 33, 0.06);
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 7%), 0px 4px 5px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 3%);

      }

      .button-refer {
        padding: 10px;
        width: 220px;
        font-size: 14px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(150, 165, 184, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
        border-radius: 4px;
        color: #FFFFFF;
        border: none;

      }
    }
  }
}
}

@media only screen and (max-width: 1350px) {
  section{
    .card-main{
      flex-direction: column;
    }
  }

}

@media only screen and (max-width: 580px) {
  section{
    .area{
      flex-direction: column;
      p{
        width: 55px;
      }
    }
    .buttonGroup{
      flex-direction: column;
      align-items: center;
    
    }
  }

}

@media only screen and (max-width: 580px) {
  section{padding: 10px;
    .card-main{
      .job-detail-card{
        padding: 10px;
        margin: 10px;
      }
    }
  }
}

