<div [@slideinOut] class="main">
  <div class="apprasial-content">
    <h6>Employee Force Change Password </h6>
  </div>
  <form [formGroup]="changepasswordForm" (ngSubmit)="matchPassword()"  >
  <div class="inputs-field">
    <div class="input">
    <label>Old Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="changepassword" placeholder="Old Password" [type]="hide ? 'password' : 'text'" >
      <mat-icon style="color:#26B4FF ; font-size: 20px;" class="pointer" matSuffix (click)="hide = !hide">
        <span>{{hide ? 'visibility_off' : 'visibility'}}</span>
      </mat-icon>
      <mat-error>{{changepasswordForm |getControl:['changepassword'] | validate:'chnagepassword'}}</mat-error>
      <!-- <mat-error *ngIf="formCtrl.changepassword.hasError('required')" >{{errorMsg.PASSWORD_REQ}}</mat-error>
      <mat-error *ngIf="formCtrl.changepassword.hasError('pattern')" >{{errorMsg.INVALID_PASSWORD}}</mat-error> -->
    </mat-form-field>
  </div>
  <div class="input">
    <label>New Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="newpassword" placeholder="New Password">
      <mat-error>{{changepasswordForm |getControl:['newpassword'] | validate:'newpassword'}}</mat-error>
    </mat-form-field>
  </div>
  <div class="input">
    <label>Confirm  Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input  type="password" matInput  formControlName="confirmpassowrd" placeholder="Confirm Password">
      <mat-error>{{changepasswordForm |getControl:['confirmpassowrd'] | validate:'confirmpassowrd'}}</mat-error>

    </mat-form-field>
  </div>

  <div class="btn_Group">
    <button type="submit" >Save</button>
  </div>

  </div>
</form>
</div>
