<div [@slideinOut] class="main">
  <div class="apprasial-content">
    <h6>Employee Force Change Password </h6>
  </div>
  <div [formGroup]="changepasswordForm" class="inputs-field">
    <div class="input">
    <label>Old Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="changepassword" placeholder="Ex. pat@example.com">
    </mat-form-field>
  </div>

  <div class="input">
    <label>New Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="changepassword" placeholder="Ex. pat@example.com">
    </mat-form-field>
  </div>
  <div class="input">
    <label>Confirm  Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input  type="password" matInput  formControlName="changepassword" placeholder="Ex. pat@example.com">
    </mat-form-field>
  </div>

  <div class="btn_Group">
    <button>Save</button>
  </div>






  </div>
</div>
