<div [@slideinOut] class="main">
  <div class="apprasial-content">
    <h6>Employee Force Change Password </h6>
  </div>
  <form [formGroup]="changepasswordForm" >
  <div class="inputs-field">
    <div class="input">
    <label>Old Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="changepassword" placeholder="Old Password">
      <mat-error *ngIf="formCtrl.changepassword.hasError('required')" >{{errorMsg.PASSWORD_REQ}}</mat-error>
      <mat-error *ngIf="formCtrl.changepassword.hasError('pattern')" >{{errorMsg.INVALID_PASSWORD}}</mat-error>
    </mat-form-field>
  </div>

  <div class="input">
    <label>New Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="password" matInput  formControlName="changepassword" placeholder="New Password">
      <mat-error *ngIf="formCtrl.changepassword.hasError('required')" >{{errorMsg.PASSWORD_REQ}}</mat-error>
      <mat-error *ngIf="formCtrl.changepassword.hasError('pattern')" >{{errorMsg.INVALID_PASSWORD}}</mat-error>
    </mat-form-field>
  </div>
  <div class="input">
    <label>Confirm  Password</label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input  type="password" matInput  formControlName="changepassword" placeholder="Confirm Password">
      <mat-error *ngIf="formCtrl.changepassword.hasError('required')" >{{errorMsg.PASSWORD_REQ}}</mat-error>
      <mat-error *ngIf="formCtrl.changepassword.hasError('pattern')" >{{errorMsg.INVALID_PASSWORD}}</mat-error>
    </mat-form-field>
  </div>

  <div class="btn_Group">
    <button>Save</button>
  </div>

  </div>
</form>
</div>
