@import "../../../../../../scss/var";
section {
  padding: 20px;

  .head {
    h1 {
      font-size: 24px;
      color: $primay-blue;
      font-weight: 500;
      // margin-left: 20px;
    }
  }
  .table {
    background-color: white;
    padding: 20px;
    ::ng-deep {

      table{
        // display: none;

        tr{

          th{
            color: #96A5B8;
            border-right: none;
        }
        }

    }
  }


  }
}
