@import "../../../../../../scss/var";
// @import"../../../mylinks/mylinks-parts/policy-document/policy-document.component.scss";
section {
  padding: 20px;
  main{
    padding: 0px;

  .head {
    h1 {
      font-size: 24px;
      color: $primay-blue;
      font-weight: 500;
      // margin-left: 20px;
    }
  }
  .table {
    margin: 0px;
    padding: 0px;
    ::ng-deep {

      table{
        // display: none;

        tr{

          th{
            color: #96A5B8;
            border-right: none;
        }
        }

    }
  }


  }
  }
}
