.section{
  padding: 20px 30px;
  .head{
    h1{
      font-size: 24px;
      color: #199CFF;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;

    }
  }
  .table{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(240, 239, 239);
  }
}

