<section>

  <div class="main">
    <div class="heading">
      <h3>Objective:</h3>
      <p>
        Share your innovative startup ideas with us, get funding from us and grow on your own. We want to give the young and brilliant ideas some shape and nurture them to the fullest to become potential competitors in the market.
Validate your idea, learn and grow from here.
      </p>
    </div>
    <div class="content">
      <h3>Story about our Angel Investor (AI)
        <b>Saurabh Singh</b>
      </h3>
      <ul>
        <li>
          Followed by @NarendraModi Prime Minister of India | @BarackObama Ex-President US | @PiyushGoyal Railway Minister India on Twitter
        </li>
        <li>
          Listed on INDIA's Top 25 Most Inspiring Startup Stories of 2013 by YourStory
        </li>
        <li>
          Listed on INDIA's Top 25 Most Inspiring Startup Stories of 2013 by YourStory
        </li>
      </ul>
      <P>
        Founded passion driven niche startups where he served many Top Fortune companies & leading brands in making their Mobile Strategy successful as a CEO & Founder of 250+ people company AppStudioz "India's leading mobile app development company" ​(★Acquired in 2014). He also Co-founded TechAhead in 2009 & was founding partner at C&B Electronics.
      </P>
      <ul>
        <li>
          Followed by @NarendraModi Prime Minister of India | @BarackObama Ex-President US | @PiyushGoyal Railway Minister India on Twitter
        </li>
        <li>
          Listed on INDIA's Top 25 Most Inspiring Startup Stories of 2013 by YourStory
        </li>
        <li>
          Listed on INDIA's Top 25 Most Inspiring Startup Stories of 2013 by YourStory
        </li>
      </ul>


    </div>
  </div>
  <div class="media">
    <div class="big_image">
      <img src="https://dashboard.appinventiv.com/skin/img/hero-media-illustration-light.svg">
      <div class="small_image">

        <img src="https://dashboard.appinventiv.com/skin/img/start.png">
      </div>
    </div>


  </div>
</section>
