@import'../../../../../../../scss/heading';
section{
  padding: 20px;
  width: 600px;
  main{
    .row{
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      .input{
        display: flex;
        flex-direction: column;
        ::ng-deep {
          .mat-icon-button {
            position: absolute;
            top: -5px;
            right: -8px;
            background-color: transparent;
          }
        }
      }
    }

  }
  .button-wrapper{
    text-align: end;
   .left{
    border: 1.5px solid rgba(150, 165, 184, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #625f5f;
    padding: 10px;
    font-size: 15px;
    margin-right: 10px;
    color: white;

   }
   .right{
    // margin-left: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(150, 165, 184, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
        border-radius: 4px;
        color: #FFFFFF;
        padding: 10px;
        font-size: 15px;
   }
  }

}

::ng-deep
{
  .mat-dialog-container{
    padding: 0px !important;
    border-radius: 20px;
  }
}
