<section>
  <form [formGroup]="editForm">

  <div class="head">
    <h1>Edit Qualication</h1>
    <button (click)="crossClick()">X</button>
  </div>
  <main>
    <!-- <form [formGroup]="editForm"> -->
    <div class="row">
      <div class="input">
        <label>School/university</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput formControlName="university" placeholder="School/university">
        </mat-form-field>
        <mat-error>{{editForm | getControl:['university'] | validate:'university'}}</mat-error>
      </div>
      <div>
        <span><app-dropdown [label]="labelEducationLevel"
           [Data]="levelData" [myControlName]="editForm.controls.educationLevel" ></app-dropdown></span>
      </div>
      <div class="input">
        <label>Date Form</label>
        <mat-form-field appearance="outline" appearance="outline">
          <input placeholder="Date" readonly matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{editForm | getControl:['date'] | validate:'date'}}</mat-error>

        </mat-form-field>
      </div>
      <div>
        <span><app-dropdown [label]="labelLanguage" [Data]="languageData" [myControlName]="editForm.controls.language" ></app-dropdown></span>
      </div>
      <div class="input">
        <label>Professional course</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput formControlName="professionalCourse" placeholder="Professional course">
        <mat-error>{{editForm | getControl:['professionalCourse'] | validate:'professionalCourse'}}</mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <label>Description</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea matInput formControlName="descripition" placeholder="Description"></textarea>
        <mat-error>{{editForm | getControl:['descripition'] | validate:'descripition'}}</mat-error>
        </mat-form-field>
      </div>
    </div>

  </main>
  <div class="button-wrapper">
    <button class="left">Close</button>
    <button (click)="saveData()" class="right">Update</button>
  </div>
</form>

</section>
