<section>
  <div class="header">
    <div class="logo_button">
      <img *ngIf="this.isExpanded" src="../../../../assets/images/appinventiv_logo.png" />
      <img class="company" *ngIf="!this.isExpanded" src="../../../../assets/images/company_logo.svg" />
      <button (click)="expand()">
        <mat-icon class="side_nav_btn">menu</mat-icon>
      </button>
    </div>
    <div class="header_right">

      <a class="dropdown" [matMenuTriggerFor]="menu">
        <span class="userName">Nikhil Dubey</span>
        <img class="profileIcon" [src]="profileSource" />
        <mat-icon class="down">expand_more</mat-icon>

        <mat-menu #menu="matMenu">
          <button [routerLink]=profile mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <button routerLink="./profile/change-password" mat-menu-item>
            <mat-icon>key</mat-icon>
            <span>Change Password</span>
          </button>
          <hr />
          <button (click)="openDialog1()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
          </button>
        </mat-menu>
      </a>

      <button (click)="openDialog()" class="HELP">Help</button>
      <mat-icon (click)="notification=!notification" style="color: grey">notifications</mat-icon>
      <span class="lastlogin">Last login Feb 03 2023 12:00 pm 127.1234.12 </span>
    </div>

  </div>
  <div  [@slideinOut] *ngIf="notification"  class="notification-box">
    <div (click)="notification=false" class="close"><mat-icon>close</mat-icon></div>
    <div class="notify">
      <div class="head">
        <h1>No new notification</h1>
      </div>
      <div class="notification-body">
        <p>--</p>
      </div>
    </div>
  </div>

</section>


