@import'../../../../../scss/heading';
@import'../../mylinks/mylinks-parts/policy-document/policy-document.component.scss';
section
{
  padding: 20px;
  main{
    background-color: white;
    padding: 10px;
    .table{
      margin: 0px;
      padding: 0px;

      ::ng-deep{
        .table{
          padding: 0px;
          table{
            td{
              color: #606167;
              // border-right: 1px solid gainsboro;
            }
          }
        }
       }
    }
  }
}
