<section>
  <div class="first">
    <div class="head">
      <h1>Create New DSR</h1>
      <button (click)="addbutton=!addbutton">+ Add</button>
    </div>
    <form [formGroup]="dsrForm" (ngSubmit)="submitHandler()" >
      <main *ngIf="addbutton">
        <div class="left">
          <div class="dropdown">
            <!-- <span> -->
              <app-dropdown [label]="lableProject" [Data]="projectData" [myControlName]="dsrForm.controls.project"
                [errorType]="dsrForm.controls.project"></app-dropdown>
            <!-- </span> -->
          </div>
          <div class="row">
            <div class="input">
              <label>Date</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Date" (click)="picker.open()"  formControlName="date" [max]="maxDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>{{dsrForm | getControl:['date'] |validate:'date'}}</mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <label>Estimate Hours</label>
              <mat-form-field appearance="outline">
                <input placeholder="Time" readonly matInput formControlName="hours" [ngxMatTimepicker]="pickers"
                  [format]="24">
                <ngx-mat-timepicker #pickers></ngx-mat-timepicker>
                <mat-error>{{dsrForm | getControl:['hours'] |validate:'hours'}}</mat-error>
              </mat-form-field>
            </div>
            <mat-checkbox (change)="toggle($event)" class="example-margin">No work done</mat-checkbox>

          </div>
        </div>
        <div class="right">

          <label>Ticket Descripition</label>


          <editor formControlName="dsr" [init]="{
              height: 350,
              plugins: [
                 'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
              ],
              toolbar:
               'undo redo | casechange blocks | bold italic backcolor | \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
            }"></editor>

        </div>

        <div class="buttongrp">
          <button type="submit">Add</button>
        </div>

      </main>
    </form>


  </div>
  <div class="second">
    <form [formGroup]="filterForm">
    <div class="row1">
      <div class="input">
        <label>From Date</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="From Date"  formControlName="startDate" [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>

        </mat-form-field>
      </div>
      <div class="input">
        <label>End Date</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="End Date" formControlName="toDate" [matDatepicker]="picker3">
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="input">
        <span>
          <app-dropdown [myControlName]="filterForm.controls.submissionStatus" [label]="labelsubmission" [Data]="statusData"></app-dropdown>
        </span>
      </div>
      <div class="input">
        <span>
          <app-dropdown [myControlName]="filterForm.controls.project1" [label]="labelProject" [Data]="statusData"></app-dropdown>
        </span>
      </div>


      <div class="input">
        <span>
          <app-dropdown [myControlName]="filterForm.controls.finalStatus" [label]="labelStatus" [Data]="statusData"></app-dropdown>
        </span>
      </div>
      <div class="input">
        <span>
          <app-dropdown [myControlName]="filterForm.controls.hours1" [label]="labelHours" [Data]="hoursData"></app-dropdown>
        </span>
      </div>
      <div class="buttongrp">
        <button>RESET</button>
      </div>
    </div>
  </form>
  </div>
  <div class="table">
    <section>
      <div class="head">
        <h1>List All Worksheets
        </h1>
      </div>
      <div class="table">
        <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource"
          [paginationSizes]></app-commontable>
      </div>
    </section>
  </div>

</section>
