<section>
  <div class="first">
    <div class="head">
      <h1>Create New DSR</h1>
      <button (click)="add()">+ Add</button>
    </div>
    <form [formGroup]="dsrForm">
    <main *ngIf="addbutton">
      <div class="left">
        <div>
          <span>
            <app-dropdown [label]="lableProject" [Data]="projectData"
            [myControlName]="dsrForm.controls.project"
            [errorType]="dsrForm.controls.project"
            ></app-dropdown>
          </span>
        </div>
        <div class="row">
          <div class="input">
            <label>Date</label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Date" formControlName="date" [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="input">
            <label>Estimate Hours</label>
            <mat-form-field appearance="outline">
              <input placeholder="Time" readonly matInput formControlName="hours" [ngxMatTimepicker]="pickers" [format]="24">
    <ngx-mat-timepicker #pickers></ngx-mat-timepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="right">

          <label>Ticket Descripition</label>


        <editor
        formControlName="dsr"
            [init]="{
              height: 350,
              plugins: [
                 'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
              ],
              toolbar:
               'undo redo | casechange blocks | bold italic backcolor | \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
            }"

          ></editor>

      </div>

      <div class="buttongrp">
        <button (click)="submitHandler()" >Add</button>
      </div>

    </main>
  </form>


  </div>
  <div class="second">
    <div class="row1">
    <div class="input">
      <label>From Date</label>
      <mat-form-field appearance="outline">
        <input  matInput>
      </mat-form-field>
    </div>
    <div class="input">
      <label>End Date</label>
      <mat-form-field appearance="outline">
        <input  matInput>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <app-dropdown [label]="labelsubmission" [Data]="statusData"
        ></app-dropdown>
      </span>
    </div>
    <div class="input">
      <span>
        <app-dropdown [label]="labelProject" [Data]="statusData"
        ></app-dropdown>
      </span>
    </div>


    <div class="input">
      <span>
        <app-dropdown [label]="labelStatus" [Data]="statusData"
        ></app-dropdown>
      </span>
    </div>
    <div class="input">
      <span>
        <app-dropdown [label]="labelHours" [Data]="hoursData"
        ></app-dropdown>
      </span>
    </div>
    <div class="buttongrp">
      <button>RESET</button>
    </div>



  </div>



  </div>
  <div class="table">
    <section>
      <div class="head">
        <h1>List All Worksheets
          </h1>
      </div>
      <div class="table">
        <app-commontable [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </section>
  </div>

</section>
