.section{
  width: 500px;
  .head{
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;

    h1{
      color:#26B4FF !important;
    }
    mat-icon{
      margin-top: 5px;
      cursor: pointer;
    }

  }
  .main{
    padding: 10px;
    ul{
      font-size: 16px;
      li{
        padding: 10px 0px;
      }
  }
  }
}
::ng-deep{
  .mat-dialog-container {
    padding: 0px !important;
    border-radius: 20px;
  }

}
