<section>
  <div class="left">
    <div class="head">
      <h6>Employee Details</h6>
    </div>
    <div class="input">
      <label>Punch Request</label>
      <mat-form-field  appearance="outline">
        <input matInput class="example-full-width" >
      </mat-form-field>
    </div>
    <div class="input">
      <label>Company</label>
      <mat-form-field  appearance="outline">
        <input matInput class="example-full-width" >
      </mat-form-field>
    </div>
    <div class="input">
      <label>Employee</label>
      <!-- <mat-form-field  appearance="outline">
        <input matInput class="example-full-width" >
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option >
          food.viewValue
          </mat-option>
          <mat-option>
            option2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="right">
    <div class="head">
      <h6>Manual Punch List</h6>
      <button>+Add new</button>
    </div>
    <div class="table">
      <app-commontable [searchBar]="false" [columns]="heading" [isPageable]="false" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
    </div>
  </div>
</section>
