<section>
  <div class="left">
    <div class="head">
      <h6>Employee Details</h6>
    </div>
    <div class="input">
      <label>Punch Request</label>
      <mat-form-field  appearance="outline">
        <input placeholder="Punch Request" matInput class="example-full-width" >
      </mat-form-field>
    </div>

    <div class="input">
      <span>
        <app-dropdown
          [label]="companyLabel"
          [Data]="companyData"
          [myControlName]="this.manualForm.controls.company"
        ></app-dropdown>
      </span>
    </div>


    <div class="input">
      <label>Employee</label>
      <mat-form-field  appearance="outline">
        <input placeholder="Employee" matInput class="example-full-width" >
      </mat-form-field>
    </div>


  </div>
  <div class="right">
    <div class="head">
      <h6>Manual Punch List</h6>
      <button>+Add new</button>
    </div>
    <div class="table">
      <app-commontable [searchBar]="false" [columns]="heading" [isPageable]="false" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
    </div>
  </div>
</section>
