section{

  .User_name{
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 25px;
    .profile_pic{
      width: 60px;
      border-radius: 50%;

    }
    .name{
      padding-top: 10px;

      .hello{
        font-size: 15px;
        font-weight: 300;
        padding-bottom: 5px;

      }
      padding-left: 10px;
      h3{
        font-size: 20px;
        font-weight: 500;

      }
    }
  }

  .main-body{
    display: grid;
    grid-template-columns: 70% 30%;
  }

  @media only screen and (max-width: 1300px) {
    .main-body{
      display: flex;
      flex-direction: column;
      .new-member{
        margin-top: 10px;
      }


    }

  }


}
