* {
  box-sizing: border-box;
}

// section{
//   background-image: url('../../../../../assets/images/appinventiv_banner.png');
//   height: 20vh;
@import"../../../.../../../../scss/var";

  .login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;


    .example-card {
      min-width: 220px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 10px 10px 10px;
      margin: 20px;

      .header{
        display: flex;
        justify-content: center;
        .header-image{
          img{
            width: 250px;
          }

        }

      }


      .content{
        display: flex;
        justify-content: center;
        align-items:center;
        padding-bottom: 40px;
        flex-direction: column;
        .logingoogle{
          background-color: $grey;
          // background-color:#4285f4;
          color:$white;
          border: none;
          width: auto;
          height: 40px;
          .googlebutton{
            display: flex;

            .google-logo{
              padding: 1px;
              height: 40px;
              width: 35px;

            }
            .signup{
              color: $white;
              padding: 10px 50px 10px 50px;
                font-size: 16px;
                background-color:#0c76ea;
                cursor: pointer;

            }
          }
        }
        .official{
          font-size: 12px;
          color: $grey;
          padding: 8px;
        }
      }
      .logincredential{
        display: flex;
        justify-content: center;
        align-items: center;
        .buttonlogin{
        button{
          background-color:$primary;
          color: $white;
          border: none;
          padding: 8px 120px;
          font-size: 12px;

        }
        .button_google{
          background-color:$primary ;
          color: $white;
          border: none;
          padding: 8px 120px;
          font-size: 12px;
          margin-top: 45px;

        }
        .slogan{
          text-align: center;
          border-top: 1px solid rgb(231, 227, 227);
          margin-top: 10px;
          padding-top: 5px;
          color: $grey;
          font-size: 12px;
        }
      }
      }

      .manuallogin{
        padding: 10px;

        .inputField{
          font-size: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;

          a{
            color: #4285f4 ;
          }
        }

        .buttonss{
          font-size: 15px;
          display: flex;
          justify-content: flex-end;
          padding-top: 15px;
          padding-right: 18px;
          button{
            font-size: 10px;
            background-color: $primary;
            color: $white;
            border: none;
            padding: 3px 14px;
          }
        }
      }


    }

    ::ng-deep{
      .mat-form-field-infix{
        border-top: none;
      }
    }

  }

@media only screen and (max-width: 350px) {
  .login-card{
    .example-card{
      .logincredential{
        .buttonlogin{
          button{
            padding: 8px 80px;
          }
        }
      }
    }
  }
}




