<section>
  <div class="header">
    <h3 class="heading">Cancel Enrollment</h3>
    <div (click)="crossClick()" class="cancel-icon">
     <mat-icon>close</mat-icon>
    </div>
  </div>
  <form [formGroup]="cancelreasonForm" >
  <div class="main">
  <div class="text-danger">
    <h5 >After cancelling this enrollment you can re-enroll one time only.</h5>
  </div>
  <div class="formfield">
    <label>Please provide brief reason *</label>
    <!-- <mat-form-field  appearance="outline">
      <input matInput  >
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <textarea formControlName="reason" #textarea maxlength="200" class="example-full-width" matInput></textarea>
    </mat-form-field>
     <p style="text-align: right;" class="maxlength">
      {{textarea.value.length}}/{{200}}</p>
    </div>
  <div class="buttonGroup">
    <button  (click)="crossClick()"  class="cancelButton">Cancel</button>
    <button class="classyButton">Submit</button>
  </div>
</div>
</form>
</section>
