@import'../../mylinks/mylinks-parts/policy-document/policy-document.component.scss';
@import'../../../../../scss/label';

section {
  padding: 20px;

  main {
    padding: 0px;

    .first {
      display: grid;
      grid-template-columns: 32% 32% 32%;

      .leaves-section {
        background-color: white;
        padding: 20px;
        display: flex;
        margin: 15px;

        // align-items: center;
        // justify-content: center;
        .calendar {
          font-size: 35px;
          color: #23c823;

        }

        .balance {
          margin-left: 20px;

          p {
            margin-bottom: 0px;
            font-size: 85%;
            font-weight: 400;
            color: #a3a4a6;
          }
        }
      }

    }

    .second {
      margin: 15px;
      background-color: white;
      padding: 20x;

      .head {
        padding: 10px;
        border-bottom: 1px solid #f3f7fc;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 20px;
          color: #3246d3;
          // font-family: 'Segoe UI';
          // padding: 11px 25px 11px 15px;
          font-weight: 550;
        }

        button {
          background: transparent;
          -webkit-box-shadow: 0 0 0 1px #26b4ff inset;
          box-shadow: 0 0 0 1px #26b4ff inset;
          color: #26B4FF;
          border: none;

          &:hover {
            background-color: #26B4FF;
            color: white;

          }
        }

      }

      main {
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;

        .left {
          .timer-wrapper{
            display: flex;
            gap: 10px;
          }
          .date-select {
            display: flex;

            .input {
              display: flex;
              flex-direction: column;
            }

            .last-date {

              margin-left: 20px;
            }

            ::ng-deep {


              .mat-icon-button {
                position: absolute;
                top: -5px;
                right: -8px;
                background-color: transparent;
              }
            }
          }

          .input {
            display: flex;
            flex-direction: column;
          }

          .dropdown {
            width: 50%;

          }

          .input1 {
            display: flex;
            flex-direction: column;

            .fileinput {
              border: 1px solid lightgray;
              padding: 15px;
            }
          }

          .button_wrapper {
            padding: 20px 20px 20px 0px ;

            .left {
              background: #1da81b !important;
              border-radius: 0 !important;
              cursor: pointer;
              border: none;
              padding: 10px;
              background-blend-mode: soft-light, normal;
              border: 1px solid rgba(150, 165, 184, 0.2);
              box-sizing: border-box;
              box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
              // border-radius: 4px;
              color: #FFFFFF;
            }

            .right {
              background: #d9534f;
              -webkit-box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 7%), 0px 4px 5px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 3%);
              box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 7%), 0px 4px 5px 0px rgb(0 0 0 / 5%), 0px 1px 10px 0px rgb(0 0 0 / 3%);
              color: #fff;
              padding: 10px;
              border: none;
              background-blend-mode: soft-light, normal;
              margin-left: 10px;

            }

          }




        }

        .right {
          label {
            font-size: 14px;
            font-weight: 500;
            color: #2f3031;
            margin-bottom: 5px;
          }

          padding-right: 20px;
        }

      }
    }

    .third {
      margin: 15px;
      margin-top: 30px;

      section {
        background-color: white;
        border-radius: 8px;

        .head {
          border-bottom: 1px solid rgb(247, 246, 246);

          h1 {
            font-size: 24px;
            color: #3246d3;
            // font-family: 'Segoe UI';
            // padding: 11px 25px 11px 15px;
            border-bottom: 1px solid #f3f7fc;
            font-weight: 500;
          }
        }

        .table {
          margin: 0px;
          padding: 0px;

          ::ng-deep {
            .table {
              padding: 0px;

              table {
                th{
                  border-right: 1px solid gainsboro;
                }
                td {
                  color: #606167;
                  border-right: 1px solid gainsboro;
                  // padding: 15px;
                }
              }
            }
          }
        }

      }

    }
  }

}

@media only screen and (max-width: 1000px) {
  section {
    .first {
      display: block !important;

    }

    .second {
      main {
        display: block !important;

        .right {
          margin-top: 20px;
        }
      }
    }

  }
}

@media only screen and (max-width: 550px) {
  section {


    .second {
      main {
        display: block !important;

        .left {
          .date-select {
            flex-direction: column;

            .last-date {
              margin: 0px !important;
            }
          }
        }
      }
    }

  }
}
