<section>
  <main>
  <div class="first">
    <div class="leaves-section">
      <mat-icon class="calendar">calendar_today</mat-icon>
      <div class="balance">
        <p>Planned Leave (CL) (1/6.00)<br>
          Planned Leave (CL) Balance (5)</p>
      </div>
    </div>
    <div class="leaves-section">
      <mat-icon class="calendar">calendar_today</mat-icon>
      <div class="balance">
        <p>Privileged Leave (6.00)</p>
        <p>Privileged Leave Balance (6)</p>
      </div>
    </div>
    <div class="leaves-section">
      <mat-icon class="calendar">calendar_today</mat-icon>
      <div class="balance">
        <p>Emergency Leave (CL) (6.00)
        </p>
        <p>Emergency Leave (CL) Balance (6)</p>
      </div>
    </div>
    <div class="leaves-section">
      <mat-icon class="calendar">calendar_today</mat-icon>
      <div class="balance">
        <p>Short Leaves (2/10.00)
        </p>
        <p>Short Leaves Balance (8)
        </p>
      </div>
    </div>
  </div>
  <div class="second">
    <div class="head">
      <h1>Add Leave</h1>
      <button (click)="add()">+ Add New</button>
    </div>
    <form [formGroup]="leaveForm" (ngSubmit)="sumbit()" >

    <main *ngIf="addButton">

      <div class="left">
        <div class="dropdown">
          <span>
            <app-dropdown [label]="department" [Data]="genderData"
            [myControlName]="leaveForm.controls.leavetype"
            [errorType]="leaveForm.controls.leavetype"
            ></app-dropdown>
          </span>
        </div>
        <div class="checkbox">
        <mat-checkbox (change)="toogle($event)" class="example-margin">Half Day?</mat-checkbox>
        <mat-radio-group *ngIf="checked===true" aria-label="Select an option">
          <mat-radio-button value="1">1st half</mat-radio-button>
          <mat-radio-button value="2">2nd half</mat-radio-button>
        </mat-radio-group>

        </div>
        <div *ngIf="leaveForm.controls.leavetype.value==='Short Leave'" class="timer-wrapper">
          <div class="input">
            <label>Start time</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="time" placeholder="Start Time" matInput>
            </mat-form-field>
          </div>
          <div class="input">
            <label>End time</label>
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="time" placeholder="End time" matInput>
            </mat-form-field>
          </div>

        </div>
        <div class="date-select">
          <div class="input">
            <label>Start Date</label>
            <mat-form-field class="example-form-field" appearance="outline">
              <input readonly matInput placeholder="Start date" [min]="minDate" (click)="picker.open()"    [matDatepicker]="picker" formControlName="startdate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>{{leaveForm | getControl:['startdate'] |validate:'startdate' }}</mat-error>
            </mat-form-field>
          </div>

          <div class="last-date">
            <div class="input">
              <label>End Date</label>
              <mat-form-field class="example-form-field" appearance="outline">
                <input readonly matInput placeholder="End date" [min]="formCtrl.startdate.value" (click)="picker.open()"   [matDatepicker]="picker1" formControlName="enddate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              <mat-error>{{leaveForm | getControl:['enddate'] |validate:'enddate' }}</mat-error>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="input">
          <label>Remarks</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <input placeholder="Remarks" matInput formControlName="remarks">
            <mat-error>{{leaveForm | getControl:['remarks'] |validate:'remarks' }}</mat-error>

          </mat-form-field>
        </div>
        <div class="input1">
          <label>Upload Document</label>
          <div class="fileinput">
          <input type="file">
        </div>
        </div>
        <div class="button_wrapper">
          <button type="submit" class="left">Save</button>
          <button (click)="this.addButton=false" class="right">Cancel</button>
        </div>
      </div>
      <div class="right">
        <label>Leave Reason</label>
        <editor
        [init]="{
          height: 400,
          plugins: [
             'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
          ],
          toolbar:
           'undo redo | casechange blocks | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        }"

      ></editor>

      </div>
    </main>
  </form>


  </div>
  <div class="third">
    <section>
      <div class="head">
        <h1>List All Leave
          </h1>
      </div>
      <div class="table">
        <app-commontable (undo_leave)="leaveRevoked($event)"  [searchBar]="true" [columns]="heading" [isPageable]="true" [dataSource]="dataSource" [paginationSizes] ></app-commontable>
      </div>
    </section>
  </div>
</main>
</section>
