<div class="main">
  <div class="header">
    <h1>Employee Directory</h1>
  </div>
  <form [formGroup]="directoryForm" >
  <div class="input-field">
    <div class="input">
      <label>Name</label>
      <mat-form-field class="example-full-width" appearance="outline">
        <input type="text" matInput placeholder="Search By Name" (keyup)="keyup($event)" formControlName="name">
      </mat-form-field>
    </div>

    <div class="input">
      <label>Department</label>
        <app-dropdown
        [Data]="options"
        [myControlName]="this.directoryForm.controls.dropdown"
        (directory)="Arr($event)"

         ></app-dropdown>
        <!-- <mat-select (selectionChange)='Arr($event)' >
          <mat-option *ngFor="let item of options" value={{item}}>{{item}}</mat-option>
        </mat-select> -->

    </div>
    <div class="btn_grp">
      <button (click)="RESET()" class="reset">Reset</button>
      <button class="save" (click)="clickSearch()">
        <p>
          <mat-icon>search</mat-icon>Search
        </p>
      </button>
    </div>

  </div>
  </form>
  <div class="card_data">
    <div class="nodata" *ngIf="this.DATA.length===0"  >NO DATA IS FOUND</div>
    <div *ngFor="let items of DATA" class="card">
      <div class="card-hover">&nbsp;</div>
      <div class="image">
        <img src={{items.IMAGE}}>
        <div>
          <h3>{{items.EMP_NAME}}</h3>
          <h4>{{items.EMP_DESIGNATION}}-{{items.EMP_TECHNOLOGY}}</h4>
        </div>
      </div>
      <div class="birthdate">
        <p>
          <mat-icon>alternate_email</mat-icon>{{items.EMAIL}}
        </p>
        <p>
          <mat-icon>cake</mat-icon>{{items.BIRTH_DATE}}
        </p>
      </div>
      <div class="social">&nbsp;</div>

    </div>
  </div>


</div>
