<section>
  <div class="header">
      <h3 class="heading">Training feedback form</h3>
      <div (click)="crossClick()" class="cancel_icon" >
          <mat-icon class="icon">close</mat-icon>
      </div>
  </div>
  <div class="training_details">
      <div class="form_data">
          <label>Title :</label>
          <p>Angular Training</p>
      </div>
      <div class="form_data">
          <label>Department :</label>
          <p>Angular</p>
      </div>
      <div class="date">
          <div class="form_data">
              <label>Start date :</label>
              <p>Feb-28-2022</p>
          </div>
          <div class="form_data">
              <label>End date :</label>
              <p>Apr-28-2022</p>
          </div>
      </div>
  </div>

  <form [formGroup]="feedbackForm">

      <div class="description col_1">
          <p class="label_text">Do you feel that the objective/goal of the training has been fulfilled? *</p>
          <mat-radio-group formControlName="goal">
              <mat-radio-button value="yes">Yes</mat-radio-button>
              <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
      </div>
      <div class="description col_2">
          <p class="label_text">How relevant and helpful do you think it was for your job? *</p>

          <div class="radio_buttons">
              <span class="warn">Not Very</span>
              <mat-radio-group formControlName="relevent">
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
              </mat-radio-group>
              <span class="success">Very Much</span>
          </div>
      </div>
      <div class="description col_3">
          <p class="label_text">How would you rate the overall training? *</p>
          <div class="radio_buttons">
              <span class="warn">Not Very</span>
              <mat-radio-group formControlName="overall_training">
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
              </mat-radio-group>
              <span class="success">Very Much</span>
          </div>
      </div>
      <div class="description col_4">
          <p class="label_text">How satisfied were you with the session content? *<br>
            (Both presented and pre-read material)</p>
          <div class="radio_buttons">
              <span class="warn">Not Very</span>
              <mat-radio-group formControlName="satisfaction">
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
              </mat-radio-group>
              <span class="success">Very Much</span>
          </div>
      </div>
      <div class="description col5">
          <label class="label_text"> Any overall feedback for the training? *</label>
          <mat-form-field appearance="outline">
              <textarea (keydown)="noSpace($event)" [maxLength]="200" formControlName="description" #textarea matInput></textarea>
              <mat-error>{{feedbackForm | getControl:['description'] | validate:'description' }}</mat-error>
          </mat-form-field>
          <p style="color: red;" class="maxlength">
              {{textarea.value.length}}/{{200}}</p>
      </div>
      <div class="buttonGroup">
          <button class="btn_cancel"  mat-raised-button type="reset">
              Cancel
          </button>
          <button (click)="submit()" class="btn_primary" type="submit" mat-raised-button>Submit</button>
      </div>
  </form>
</section>
