<div [@slideinOut] class="main">
  <div class="apprasial-content">
    <h6>Apprasial Detail</h6>
  </div>
  <div class="inputs-field">
<div class="input">

  <label>Apprasial Cycle</label>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input">
    <label>Apprasial Month</label>
    <mat-form-field appearance="outline">
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <app-commontable [columns]="heading" [dataSource]="dataSource"></app-commontable>




  </div>

</div>
