@import'../../mylinks/mylinks-parts/policy-document/policy-document.component.scss';
section{
  padding: 20px;
  main{
    padding: 0px;
  .head{
    h1{
    font-size: 24px;
    color: #199CFF;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
    }
  }
  .table{
    background-color: white;
    margin: 20px 0px;



    .heading{
      h3{
        font-size: 20px;
        color: #231E1E;
        font-weight: 400;
        line-height: 1.32;
        margin-bottom: 0;
        padding-bottom: 15px;
      }
      border-bottom: 1px solid rgb(242, 239, 239);
      margin-bottom: 20px;
    }


      ::ng-deep{
        .table{
          padding: 0px;
          table{
            td{
              color: #606167;
              // border-right: 1px solid gainsboro;
            }
          }
        }
       }
    


  }
}

}






